In [9]:
import mysql.connector as connector
print("mysql.connector imported")
connection = connector.connect (user = "eddah", password = "Vivamagenta@2023", db = "LittleLemonDB")
print("you are now connected to ", connection.database)
cursor = connection.cursor()
print ("cursor object ready")

mysql.connector imported
you are now connected to  littlelemondb
cursor object ready

In [10]:
cursor.execute("show tables")
results=cursor.fetchall()
print("Tables in LittleLemonDB Database")
for table in results:
    print (table)
    
# ordersview is a virtual table

Tables in LittleLemonDB Database
('bookings',)
('customers',)
('deliveryaddress',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)
('staffaddress',)

In [22]:
# I will add BookingID to the query because my Customers table connects to the Orders table through the Bookings table
# I use the cast() function in my query to convert the output of Totalcost column which is decimal to char datatype
query_1 = """select concat(Customers.CustomerFirstName,' ', Customers.CustomerLastName) as CustomerName, Customers.PhoneNumber, 
Bookings.BookingID, cast(Orders.TotalCost as char) as TotalCost from Customers inner join Bookings on Customers.CustomerID = Bookings.CustomerID 
inner join Orders on Bookings.BookingID = Orders.BookingID where Orders.TotalCost > 60"""
cursor.execute(query_1)
results= cursor.fetchall()
cols=cursor.column_names
print("Customer who spent more than KES 60", "\n")
print(cols)
for row in results:
    print(row)

Customer who spent more than KES 60

('CustomerName', 'PhoneNumber', 'BookingID', 'TotalCost')
('John Maina', 725738177, 1, '200.00')
('Kane Shikwekwe', 725568178, 3, '400.00')
('John Maina', 725738177, 4, '80.00')
('John Maina', 725738177, 1, '1000.00')
('Alice Kwamboka', 733738177, 2, '800.00')
('Alice Kwamboka', 733738177, 2, '800.00')

In [7]:
connection.close()
print("Connection is now closed")

Connection is now closed